<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>{% block title %}Matchmaker{% endblock %}</title>
</head>
<body>
<div class="mb-8">
    <nav class="flex justify-between p-2 bg-gray-400">
        <div class="text-4xl font-bold">
            <a href="/">Matchmaker</a>
        </div>
        <div class="flex gap-8 text-2xl font-bold">
            <div>
                <a href="/images">Images</a>
            </div>
            <div class="underline">
            {% if session.auth.user %}
                <a href="/logout">{{ session.auth.user }}</a>
            {% else %}
                <a href="/login">Log In</a>
            {% endif %}
            </div>
        </div>
    </nav>
</div>
{% block content %}{% endblock %}
</body>
</html>
