{% extends "base.twig" %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="ml-4">
        <div class="text-2xl"><span class="font-bold">Error: </span>{{ message }}</div>
        {% for error in errors %}
            <div class="text-xl">{{ error }}</div>
        {% endfor %}
        <hr class="my-8">
        <a href="/" class="btn-gray">Back</a>
    </div>
{% endblock %}
