{% extends "base.twig" %}

{% block title %}Image{% endblock %}

{% block content %}
    <div class="flex justify-center">
        <div class="w-64">
            <img src="{{ image.imageDir }}/{{ image.resizedFileLocation }}" alt="{{ image.originalName }}">
            <form action="/images/delete/{{ image.id }}" method="post" class="flex justify-between mt-4">
                <a href="/images" class="btn-gray">Back</a>
                <input
                        type="submit"
                        name="submit"
                        value="Delete"
                        class="btn-gray"
                >
            </form>
        </div>
    </div>
{% endblock %}
