{% extends "base.twig" %}

{% block title %}Images{% endblock %}

{% block content %}
    <div class="flex gap-8">
        {% for image in images %}
            <div class="w-32 h-32">
                <a href="/images/{{ image.id }}">
                    <img src="/static/images/{{ image.resizedFileLocation }}" alt="{{ image.originalName }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
