{% extends "base.twig" %}

{% block title %}Success{% endblock %}

{% block content %}
    <div class="ml-4">
        <div class="text-2xl">{{ message }}</div>
        <hr class="my-8">
        <a href="/" class="btn-gray">Home</a>
    </div>
{% endblock %}
